@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&display=swap");


html {
  height: -webkit-fill-available;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alegreya Sans", sans-serif;
}

body {
  background: #343541;
  min-height: 100vh;
  min-height: -webkit-fill-available;

}


#app {
  padding: 20px ;
  width: 100vw;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  background: #343541;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /*justify-content: space-between;*/
  overflow: hidden;

}

#chat_container {
  /*flex: 1;*/
  width: 100vw;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  /*border: 1px solid red;*/
  /*height: 70%;*/


  /*-ms-overflow-style: none;*/
  /*scrollbar-width: none;*/

  /*scroll-behavior: smooth;*/

}

/* hides scrollbar */
/*#chat_container::-webkit-scrollbar {*/
/*  display: none;*/
/*}*/

.wrapper {
  width: 100%;
  padding: 15px;
}

.ai {
  background: #40414F;
}

.chat {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}

.profile {
  width: 36px;
  height: 36px;
  border-radius: 5px;

  background: #eed59b;

  display: flex;
  justify-content: center;
  align-items: center;
}

.ai .profile {
  background: #1f523c;
}

.profile img {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.message {
  flex: 1;
  color: #dcdcdc;
  font-size: 20px;
  max-width: 100%;
  overflow-x: scroll;
  white-space: pre-wrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* hides scrollbar */
.message::-webkit-scrollbar {
  display: none;
}

form {
  margin-top:auto;
  margin-bottom: 20px;
  width: 100%;
  max-width: 1280px;
  /*margin: 0 auto;*/
  padding: 10px;
  background: #40414F;
  display: flex;
  flex-direction: row;
  gap: 10px;
  border-radius: 10px;
}

textarea {
  width: 100%;

  color: #fff;
  font-size: 18px;

  padding: 10px;
  background: transparent;
  border-radius: 5px;
  border: none;
  outline: none;
}

button {
  outline: 0;
  border: 0;
  cursor: pointer;
  background: transparent;
}

form img {
  width: 30px;
  height: 30px;
}
.button-send{
  transition: 0.3s;
}
.button-send:hover{
  transform: scale(1.2);
}
